body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar .navbar-brand img {
    height: 30px; /* Set the height you want */
  /* Maintain aspect ratio */
    max-width: 100%; /* Ensure it doesn't overflow */
}

#hero {
    background: url('assets/hero.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 50px 0;
    text-align: center;
}

#hero h1, #hero p {
    margin: 20px 0;
}

#products {
    padding: 50px 0;
}

.card {
    margin-bottom: 30px;
}

.footer {
    padding: 20px 0;
    background: #f8f9fa;
}
